@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap);

body{
  margin: 0px;
  padding: 0px;
  font-family: Nunito,sans-serif;
  background-color: black;
}
html {
  --scrollbarBG: black;
  --thumbBG: #02b7ff;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 8px;
}
body {
  scrollbar-width: 6px;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 10%;
  border: 3px solid var(--scrollbarBG);
}

#header{
  width: 100%;
 display: none;
 color: #02b7ff;
 align-items: center;
 justify-content: center;
/* background: #86d5f5; */
height: 50px;
border-bottom: 0.1rem solid #02b7ff;
position: relative;
bottom: 200px;
animation-name: header;
animation-timing-function: linear;
animation-duration: 2s;
animation-fill-mode: forwards;
animation-iteration-count: 1;
animation-delay: 1s;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes header {
  0%{
    bottom: 200px;
  }
  100%{
    bottom: 0px;
  }
}

.star{
  font-size: 2em;
  color: #daa520;
}


#header-para{
  
  font-size: 1.3em;
  opacity: 0;
  animation-name: para;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
  font-weight: 700;

}
@keyframes para {
  0%{
    opacity: 0;
  }
  25%{
    opacity: .3;
  }
  50%{
    opacity: .5;
  }
  75%{
    opacity: .8;
  }
  100%{
    opacity: 1;
  }
}

#loader-area{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0px;
}

#loader-box{
  width: 120px;
  height: 120px;
  border-top: 6px solid #02b7ff;
  border-radius: 50%;
  position: relative;
  animation-name: loader;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: .5s;

}
@keyframes loader {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}



.heading{
  font-family: monospace;
  color: white;
  font-size: 2rem;
  text-decoration: underline;
  width: 11rem;
  margin: auto;
}

section{
  /* margin-top: 40px; */
  width: 100%;
  display: none;
  align-items: center;
 
 flex-direction: column;
  
}
.parlour-profile{
  width: 200px;
  height: 520px;
 
}
.cover-img{
  width: 100%;
  height: 30%;
 
  position: relative;
  z-index: -2;
  filter: brightness(150px);
  border-radius: 20px;

}
.cover-box{
 background: linear-gradient(to left,rgba(0, 0, 0, 0.1)0%, rgba(0, 0, 0, 0.7)96%) ;
background: -webkit-linear-gradient(to left,rgba(0, 0, 0,.1)0%, rgba(0,0, 0,.7)96%);  /* Chrome 10-25, Safari 5.1-6*/
background: linear-gradient(to left,rgba(0, 0, 0,.1)0%, rgba(0, 0, 0, 0.7)96%); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
 border-radius: 20px; 



}
.bx-crown{
  position: relative;
  
 
  bottom: 120px;
 
}
.profile-img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.profile-img-box{
  position: relative;
  bottom: 90px;
  left: 30%;
  z-index: 1;
}
.parlour-profile-box{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;

}
.deatail-box{
 
  text-align: center;
  color: white;
  position: relative;
  
  z-index: .4;
  bottom: 80px;

 
}
.parlour-profile{
  border-radius: 20px;
  border: 2px solid gold;
 
 
  
}
.text-box{
 text-align: center;
}

.certificate{
  color: #daa520;
  font-weight: 700;
  
}
.parlour-name{
  font-size: 16px;
  text-transform: uppercase;
  
}
.certification-heading{
 
  text-transform: lowercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.profile-btn{
  color: black;
  text-decoration: none;
  background-color: #02b7ff;
  padding: 10px 30px;
  border-radius: 20px;
}
.profile-btn:hover{
  color: #02b7ff;
  text-decoration: none;
  background-color: black;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 2px #02b7ff;
  font-weight: 700;
}

.profile-btn-box{
  margin-top: 30px;
 
}

.parlour-profile{
  
  box-shadow: #daa520 0px 25px 20px -15px;
  border: 1px solid #daa520;
  border-bottom: none;
}


